<div id="chat_content"
  data-controller="scroll">
  <!-- Header del chat -->
  <div class="d-flex align-items-center justify-content-between p-3 | text-primary-emphasis border border-start-0 ">
    <div class="d-flex align-items-center">
      <button class="btn btn-sm me-3 d-md-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarNumbers">
        <%= svg('arrow-bar-down', width: '16', height: '16', fill: '#000' )%>
      </button>
      <div>
        <h6 class="h5 phone-number mb-0">
          <%= @chat_session_id %>
        </h6>
      </div>
    </div>
  </div>

  <!-- Mensajes del chat -->
  <div class="flex-grow-1 overflow-auto p-3 bg-light"
      data-scroll-target="content"
      data-controller="chat" 
      data-chat-session-id-value="<%= @chat_session_id %>"
      data-chat-poll-interval-value="30000"
      style="height: calc( 100vh - 140px)">
    <% @conversation.each do |chat| %>
      <% if chat.message["type"] == "human" %>
        <!-- Mensaje recibido -->
        <div class="d-flex mb-3">
          <div class="bg-white p-3 rounded shadow-sm | chat-message">
            <p class="mb-1">
              <%= whatsapp_message_to_html(chat.message["content"]) %>
            </p>
            <small class="text-muted">
              <%= chat.created_at.to_formatted_s(:long_ordinal) %>
            </small>
          </div>
        </div>
      <% else %>
        <!-- Mensaje enviado -->
        <div class="d-flex justify-content-end mb-3">
          <div class="bg-primary bg-gradient text-white p-3 rounded shadow-sm | chat-message">
            <p class="mb-1">
              <%= whatsapp_message_to_html(chat.message["content"]) %>
            </p>
            <div class="d-flex justify-content-end align-items-center">
              <small class="me-2">
                <%= chat.created_at.to_formatted_s(:long_ordinal) %>
              </small>
              <%= svg("bi-check-all", width: "16", height: "16", fill: "#98FB98") %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-center mt-5">
      <div class="dropdown">
        <a 
          class="btn btn-success dropdown-toggle" 
          href="#" role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
            <%= svg('check-lg', width: '18', height: '18', fill: '#FFF' ) %>
            Marcar como:
        </a>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">
              <span class="badge bg-secondary fw-lighter">
                <%= svg('check-lg', width: '12', height: '12', fill: '#FFF') %>
              </span>
              Revisada
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <span class="badge bg-warning fw-lighter">
                <%= svg('start-fill', width: '12', height: '12', fill: '#FFF') %>
              </span>
              Destacar
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <span class="badge bg-light fw-lighter">
                <%= svg('app', width: '12', height: '12') %>
              </span>
              No Revisada
            </a>
          </li>
        </ul>
      </div>    
    </div>
  </div>
  <div class="position-absolute bottom-0 end-0">
    <button type="button" class="btn btn-success" 
      data-action="scroll#scrollToBottom">
      <%= svg("arrow-down-circle", width: "16", height: "16", fill: "#98FB98") %>
    </button>
  </div>
</div>


