<div class="container-fluid px-0" style="height: calc(100vh - 55px);">
  <div class="row g-0 h-100">
    <!-- Sidebar -->
    <div class="col-md-3 col-lg-2 bg-white border-end d-md-block collapse" id="sidebarNumbers">
      <!-- Header del sidebar -->
      <div class="d-flex align-items-center justify-content-between p-3 | text-primary-emphasis bg-primary-subtle border border-primary-subtle">
        <div class="d-flex align-items-center">
          <h6 class="h5 mb-0">Historial</h6>
          <br/>
        </div>
      </div>
      <!-- Lista de contactos/conversaciones -->
      <div class="overflow-auto" style="height: calc(100vh - 140px);" data-controller="chat-list">
        <div class="list-group list-group-flush">
           <button class="btn btn-sm me-3 d-md-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarNumbers">
            <%= svg('arrow-bar-up', width: '28', height: '28', fill: '#000' )%>
          </button>
          <% @phones.each_with_index do |phone, index| %>
            <%= link_to chat_path(phone.session_id), 
                data: { 
                  turbo_frame: "chat_content",
                  chat_list_target: "item",
                  action: "click->chat-list#select"

                },
                class: "list-group-item list-group-item-#{ index == 0 ? 'success' : 'light'} | border-0 px-3 py-2" do %>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="d-flex justify-content-between align-items-start">
                    <h6 class="mb-1 phone-number"><%= phone.session_id %></h6>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Ãrea principal del chat -->
    <div class="col-md-9 col-lg-10 d-flex flex-column h-100">
      <%= turbo_frame_tag "chat_content", class: "d-flex flex-column h-100" do %>
        <%= render "chat_content" %>
      <% end %>
    </div>
  </div>
</div>